:root {
    --main-bg-color: white;
    --text-color: rgb(31, 31, 31);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-bg-color);
    color: var(--text-color);
    width: 100vw;
    height: 100vh;
    transition: background-color 1s, color 1s;
}
header{
    display: flex;
    justify-content: space-around;
}
.header_div{
    display: flex;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    border: solid black 2px;    
}
#toggle_theme {
    position: relative;
    width: 70px;
    height: 28px;
    background-color: #ddd;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    overflow: hidden;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    transition: left 1s ease; background-color: 1s ease;
}
main{
    padding: 0 5vw 0 5vw;
}
main h1, h3, h4{
    display: flex;
    justify-self: center;
    width: auto;
}
main h3, h4{
    font: italic;
    font-size: 1.8vw;
    font-weight: normal;
}
hr {
  border: 0;
  height: 1px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, transparent 80%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

main p{
    text-align:justify;
}
footer{
    display: flex;
    padding: 0 5vw 0 5vw;
    justify-content: center;
}