:root {
    --main-bg-color: white;
    --text-color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--main-bg-color);
    color: var(--text-color);
}
header{
    display: flex;
    justify-content: space-around;
}
header div{
    display: flex;
    width: 90vw;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(135deg, rgb(255, 117, 117), rgb(255, 199, 96));
    border-radius: 5px;
}
#toggle_theme{
    width: 8vw;
    height: 4vh;
    border-radius: 5px;
}
main{
    padding: 0 5vw 0 5vw;
}
main h1, h3, h4{
    display: flex;
    justify-self: center;
    width: auto;
}
main h3, h4{
    font: italic;
    font-size: 1.8vw;
    font-weight: normal;
}
hr {
  border: 0;
  height: 1px;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, transparent 80%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

main p{
    text-align:justify;
}
footer{
    display: flex;
    padding: 0 5vw 0 5vw;
    justify-content: center;
}